*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: #ed686b;
  min-height: 100vh;
  perspective: 100px;
}
.back {
  position: absolute;
  background-color: #ff7578;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.back::before {
  content: "";
  width: 75%;
  height: 75%;
  position: absolute;
  background-color: #fe8282;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -98;
}
.back::after {
  content: "";
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: #f99;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -97;
}
.drive {
  position: absolute;
  left: 50%;
  top: calc(50% + -119px);
  width: 258px;
  height: 100px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  justify-content: space-evenly;
  align-items: flex-end;
  z-index: -6;
}
.chair {
  width: 87px;
  height: 50px;
  background: #241f23;
  border-radius: 8px;
  position: relative;
  top: 27px;
}
.chair.right::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 168%;
  top: -12px;
  border: 4px solid #241f23;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.mirror {
  position: absolute;
  left: 50%;
  top: calc(50% - 120px);
  width: 258px;
  height: 107px;
  border: 9px double #241f23;
  z-index: -6;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  -webkit-transform: rotateX(9deg) translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  outline: 3px solid black;
  overflow: hidden;
}
.mirror::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 20px;
  background-color: #281e20;
}
.mirror::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 40%;
  width: 53px;
  border-radius: 5px;
  height: 21px;
  background-color: #281e20;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.bordermirror {
  position: absolute;
  left: 50%;
  top: calc(50% - 120px);
  width: 258px;
  height: 107px;
  border: 8px solid #fff;
  z-index: -7;
  border-radius: 12px;
  transform: translate(-50%, -50%);
  -webkit-transform: rotateX(9deg) translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.mirror .circle {
  height: 313px;
  width: 153px;
  border: 87px solid rgb(255 255 255 / 36%);
  border-radius: 50%;
  left: -14%;
  position: absolute;
  bottom: -165px;
  box-sizing: content-box;
  transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}
.mirror .smallcircle {
  position: absolute;
  width: 79px;
  height: 20px;
  background-color: rgb(255 153 153);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  left: 34%;
  top: 39px;
  z-index: 7;
}
.smallmirror {
  width: 24px;
  height: 26px;
  background-color: #e5e6e6;
  border: 4px solid #1c2118;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  left: calc(50% + 134px);
  top: calc(50% - 87px);
}
.ereal {
  width: 7px;
  height: 8px;
  position: absolute;
  left: calc(50% - 155px);
  top: calc(50% - 69px);
  background-color: #fff;
}
.ereal::before {
  content: "";
  position: absolute;
  left: 11px;
  top: -181px;
  border-bottom: 182px solid #fff;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  transform: rotate(6deg);
}
.container {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 370px;
  position: absolute;
  height: 155px;
  border-radius: 75px;
  background-image: linear-gradient(to bottom, #db383a, #831e1f);
  border: 7px solid #251f21;
  box-shadow: inset 4px 0px 0 #fff;
  overflow: hidden;
  z-index: 0;
  margin-right: 1000px;
}
.container > .above {
  width: 66%;
  height: 122px;
  border: 0 solid #fff;
  position: absolute;
  left: 17%;
  border-radius: 55px;
  top: -73px;
  position: relative;
  border-bottom-width: 2px;
}
.container > .above::before {
  content: "";
  position: absolute;
  border-top: 27px solid black;
  border-left: 5px solid transparent;
  bottom: 23px;
  left: -2px;
  transform: rotate(-22deg);
  -webkit-transform: rotate(-22deg);
  -moz-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
  -o-transform: rotate(-22deg);
}
.container > .above::after {
  content: "";
  position: absolute;
  border-top: 27px solid black;
  border-left: 5px solid transparent;
  bottom: 26px;
  right: 0;
  transform: rotate(28deg);
  -webkit-transform: rotate(28deg);
  -moz-transform: rotate(28deg);
  -ms-transform: rotate(28deg);
  -o-transform: rotate(28deg);
}
.container > .above .color {
  width: 322px;
  position: absolute;
  left: -44px;
  height: 117px;
  z-index: -1;
  border-radius: 48px;
  border: 39px solid #ee5557;
}
.container .lights {
  height: 60%;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  top: 0;
}
.container .lights .light {
  width: 55px;
  height: 60px;
  background-color: #c23333;
  border: 3px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#back {
  width: 330px;
  position: absolute;
  left: 14px;
  height: 117px;
  z-index: -4;
  border-radius: 73px;
  border: 41px solid #ed3f41;
}
.container .lights .light.left {
  margin-left: 5px;
}
.container .lights .light.right {
  margin-right: 5px;
}
.container .lights .light .ray {
  width: 96%;
  height: 90%;
  top: -2px;
  position: relative;
  background-color: #fff;
  border: 5px solid black;
  align-self: flex-start;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: inset 0 5px 0 0 #bdbcbf;
}
.under {
  position: absolute;
  bottom: 10px;
  height: 35px;
  width: 87%;
  background-color: #ee3e3f;
  border-radius: 29px;
  left: 26px;
  display: flex;
  justify-content: space-evenly;
  perspective: 111px;
}
.under .one {
  left: -19px;
  width: 40%;
  height: 111%;
  top: -15%;
  background-color: #e4e7e7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 56px;
  border-top-right-radius: 39px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  border: 3px solid black;
  position: relative;
  padding: 9px 10px 10px 0;
  box-shadow: inset 0 -5px 0 0 #b8b8b8;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.under .one::before {
  content: "";
  position: absolute;
  width: 39px;
  height: 42%;
  border: 3px solid black;
  border-top-right-radius: 13px;
  background-color: #f08d3f;
  z-index: 2;
  left: -4px;
  box-shadow: inset 0 3px 0 0 #b66d30;
}
.under .one::after {
  content: "";
  position: absolute;
  width: 93%;
  height: 42%;
  border: 3px solid black;
  border-top-right-radius: 13px;
  background-color: #363231;
  z-index: 1;
  box-shadow: inset 0 3px 0 0 #222021;
}
.under .two {
  position: relative;
  top: -40%;
  width: 43px;
  height: 203%;
  background-color: #e4e7e7;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  transform: rotateX(-42deg);
  -webkit-transform: rotateX(-42deg);
  -moz-transform: rotateX(-42deg);
  -ms-transform: rotateX(-42deg);
  -o-transform: rotateX(-42deg);
  position: relative;
  padding: 7px;
}
.under .two::before {
  position: absolute;
  width: 20px;
  height: 20px;
  content: "";
  border: 3px solid;
  border-color: #e4e7e7 #e4e7e7 transparent transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -2;
  top: -5px;
  left: 58%;
  transform: rotate(-5deg) translate(-50%, -50%);
  -webkit-transform: rotate(-45deg) translate(-50%, -50%);
  -moz-transform: rotate(-5deg) translate(-50%, -50%);
  -ms-transform: rotate(-5deg) translate(-50%, -50%);
  -o-transform: rotate(-5deg) translate(-50%, -50%);
}
.under .two span:nth-child(1) {
  display: block;
  position: absolute;
  width: 38%;
  top: -2px;
  height: 7px;
  background-color: #383331;
  left: 12px;
  z-index: -3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.under .two span:nth-child(2) {
  display: block;
  position: absolute;
  width: 84%;
  top: 5px;
  height: 10px;
  background-color: #383331;
  left: 3px;
  z-index: -3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.under .two span:nth-child(3) {
  display: block;
  position: absolute;
  top: 0;
  left: 36%;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #e4e7e7;
}
.under .two span:nth-child(4) {
  display: block;
  position: absolute;
  width: 81%;
  top: 18px;
  height: 8px;
  background-color: #383331;
  left: 4px;
  z-index: -3;
  border-radius: 3px;
}
.under .two span:nth-child(5) {
  display: block;
  position: absolute;
  width: 75%;
  top: 30px;
  height: 8px;
  background-color: #383331;
  left: 5px;
  z-index: -3;
  border-radius: 3px;
}
.under .two span:nth-child(6) {
  display: block;
  position: absolute;
  width: 70%;
  top: 42px;
  height: 8px;
  background-color: #383331;
  left: 6px;
  z-index: -3;
  border-radius: 3px;
}
.under .two span:nth-child(7) {
  display: block;
  position: absolute;
  width: 58%;
  top: 55px;
  height: 13px;
  border-radius: 6px 6px 20px 20px;
  background-color: #383331;
  left: 9px;
  z-index: -3;
}
.under .three {
  width: 40%;
  left: 15px;
  height: 111%;
  top: -15%;
  background-color: #e4e7e7;
  border-top-left-radius: 39px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 56px;
  overflow: hidden;
  border: 3px solid black;
  position: relative;
  padding: 9px 10px 10px 0;
  box-shadow: inset 0 -5px 0 0 #b8b8b8;
}
.under .three::before {
  right: -2px;
  content: "";
  position: absolute;
  width: 39px;
  height: 42%;
  border: 3px solid black;
  border-top-left-radius: 13px;
  background-color: #f08d3f;
  z-index: 2;
  box-shadow: inset 0 3px 0 0 #b66d30;
}
.under .three::after {
  content: "";
  position: absolute;
  width: 93%;
  height: 42%;
  border: 3px solid black;
  border-top-left-radius: 13px;
  background-color: #363231;
  z-index: 1;
  left: 8px;
  box-shadow: inset 0 3px 0 0 #222021;
}
.wheels {
  position: absolute;
  width: 350px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  left: 50%;
  top: calc(50% + 66px);
  transform: translate(-50%, -50%);
  z-index: -3;
  perspective: 685px;
}
.wheels::before {
  position: absolute;
  content: "";
  width: 62%;
  height: 10px;
  background-color: #251f1e;
  top: 59px;
  left: 67px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.wheels::after {
  position: absolute;
  content: "";
  width: 120%;
  height: 420px;
  background-color: #251f1e;
  bottom: -209px;
  left: -10%;
  z-index: -5;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transform: rotateX(272deg);
  -webkit-transform: rotateX(272deg);
  -moz-transform: rotateX(272deg);
  -ms-transform: rotateX(272deg);
  -o-transform: rotateX(272deg);
}
.wheel {
  width: 56px;
  position: relative;
  height: 100%;
  background-color: #363231;
  border-radius: 12px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: inset 0 -11px 0 0 #4e4848;
  overflow: hidden;
}
.wheel.left::before {
  top: -96px;
  left: -8px;
  content: "";
  position: absolute;
  width: 390px;
  height: 165px;
  background-color: #212022;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
}
.wheel.right::before {
  top: -96px;
  right: -7px;
  content: "";
  position: absolute;
  width: 390px;
  height: 165px;
  background-color: #212022;
  border-radius: 75px;
  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
}

.test {
  width: 70px;
  height: 10px;
  background-color: black;
  position: absolute;
  left: 80%;
  top: 50%;
}
